// let data = {
    cityDetails: {
      name: "Pune",
      image: "https://example.com/pune_image.jpg",
      coordinates: {
        lat: 18.5204,
        lng: 73.8567,
      },
    },
    days: [
      {
        name: "Day 1",
        places: [
          {
            name: "Shaniwar Wada",
            coordinates: {
              lat: 18.5196,
              lng: 73.8554,
            },
            image: "https://example.com/shaniwar_wada_image.jpg",
            purpose: "Sightseeing",
          },
          {
            name: "Pataleshwar Cave Temple",
            coordinates: {
              lat: 18.5308,
              lng: 73.8466,
            },
            image: "https://example.com/pataleshwar_cave_temple_image.jpg",
            purpose: "Sightseeing",
          },
          {
            name: "M.G. Road",
            coordinates: {
              lat: 18.5303,
              lng: 73.8558,
            },
            image: "https://example.com/mg_road_image.jpg",
            purpose: "Visit local markets",
          },
        ],
        meals: [
          {
            breakfast: {
              name: "Mapro Garden Restaurant",
              coordinates: {
                lat: 18.2774,
                lng: 73.7829,
              },
              image: "https://example.com/mapro_garden_restaurant_image.jpg",
              budget: 300,
              mealType: "Non-vegetarian",
            },
          },
          {
            lunch: {
              name: "ABC Restaurant",
              coordinates: {
                lat: 18.5259,
                lng: 73.8418,
              },
              image: "https://example.com/abc_restaurant_image.jpg",
              budget: 900,
              mealType: "Non-vegetarian",
            },
          },
          {
            dinner: {
              name: "XYZ Restaurant",
              coordinates: {
                lat: 18.5327,
                lng: 73.8281,
              },
              image: "https://example.com/xyz_restaurant_image.jpg",
              budget: 900,
              mealType: "Non-vegetarian",
            },
          },
        ],
      },
      {
        name: "Day 2",
        places: [
          {
            name: "Aga Khan Palace",
            coordinates: {
              lat: 18.5481,
              lng: 73.8957,
            },
            image: "https://example.com/aga_khan_palace_image.jpg",
            purpose: "Sightseeing",
          },
          {
            name: "Shinde Chhatri",
            coordinates: {
              lat: 18.5998,
              lng: 73.9057,
            },
            image: "https://example.com/shinde_chhatri_image.jpg",
            purpose: "Sightseeing",
          },
        ],
        meals: [
          {
            breakfast: {
              name: "Pune Central",
              coordinates: {
                lat: 18.5279,
                lng: 73.845,
              },
              image: "https://example.com/pune_central_image.jpg",
              budget: 300,
              mealType: "Non-vegetarian",
            },
          },
          {
            lunch: {
              name: "DEF Restaurant",
              coordinates: {
                lat: 18.52,
                lng: 73.8499,
              },
              image: "https://example.com/def_restaurant_image.jpg",
              budget: 900,
              mealType: "Non-vegetarian",
            },
          },
          {
            dinner: {
              name: "GHI Restaurant",
              coordinates: {
                lat: 18.5329,
                lng: 73.8213,
              },
              image: "https://example.com/ghi_restaurant_image.jpg",
              budget: 900,
              mealType: "Non-vegetarian",
            },
          },
        ],
      },
    ],
  // };